h1 {
    color: firebrick;
  }
  h1 {
    color: rgb(46, 73, 247);
  }
  
  body {
    border-image: round;
    background-color:rgb(207, 236, 238);
    /* background: url("Static-Electricity.png"); */
  
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-family: cursive;
   
    /* background-color: #cccccc; */
  }
  input, button {
    appearance: none;
    /* border: none; */
    outline: black;
    background: blanchedalmond;
  }
  .strike{
  
    text-decoration: line-through
    
    }
    h4 {
      color: rgb(137, 34, 178);
    }
    h6 {
      color: rgb(229, 133, 242);
    }
    h5 {
      color: rgb(173, 178, 178);
    }
    strong {
      color: rgb(167, 171, 167);
    }